include README.md
include LICENSE
include requirements.txt
include requirements-minimal.txt
recursive-include acm_forecast/config *.yaml.example
recursive-include acm_forecast/config README.md
recursive-exclude * __pycache__
recursive-exclude * *.pyc
recursive-exclude * *.pyo
recursive-exclude * .DS_Store

